* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-image: linear-gradient(45deg, #000000, #131313, #1d1d1d, #252525, #2d2d2d);
    overflow: overlay;
    padding-bottom: 100px;
}

header {
    display: flex;
    background-color: #363636;
    padding: 18px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.556);
    transition: box-shadow .7s, border-radius .5s;
}

header:hover {
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.812);
    border-radius: 0 0 15px 15px;
}

.myimg {
    height: 55px;
    margin-left: 40px;
    border-radius: 50%;
}

header nav {
    display: inline-block;
    margin: auto;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    margin-right: 15px;
    color: #ffffff;
    transition: color .7s;
}

header nav a:hover {
    color: #dcdc7c;
}

header nav a:active {
    color: #000000;
}

.servidor {
    margin-right: 25px;
    padding: 7px 25px;
    border-radius: 10px;
    border: none;
    background-color: #595979;
    color: #ffffff;
    font-weight: 600;
    transition: border-radius .7s, background-color .7s, opacity .7s;
}

.servidor:hover {
    border-radius: 20px;
    background-color: #1b1b1b;
}

.servidor a {
    text-decoration: none;
    color: #ffffff;
}

.explicando {
    width: 650px;
    margin: auto;
    margin-top: 100px;
}

.explicando p {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.explicando h1 {
    text-align: center;
    margin-bottom: 15px;
}

.formasdecontatos {
    width: 650px;
    margin: auto;
    margin-top: 50px;
}

.formasdecontatos p {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.formasdecontatos h1 {
    text-align: center;
    margin-bottom: 15px;
}

.contatos {
    margin-top: 100px;
}

.discord {
    width: max-content;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.instaimg {
    width: 650px;
    border-radius: 15px;
    margin: auto;
    transition: border-radius .7s, filter .3s;
}

.instaimg:hover {
    border-radius: 25px;
}

.insta {
    margin-bottom: 50px;
}

.sla {
    position: relative;
}

.instaclick {
    position: absolute;
    color: white;
    font-size: 35px;
    margin-top: 10px;
    right: 10px;
    transition: color .5s;
    filter: blur(0px) !important;
}

.instaclick:hover {
    color: rgb(104, 104, 255);
}

.sla:hover > :not(:hover) {
    filter: blur(5px);
}

.faceimg {
    width: 650px;
    border-radius: 15px;
    margin: auto;
    transition: border-radius .7s, filter .3s;
}

.faceimg:hover {
    border-radius: 25px;
}

.sla2 {
    position: relative;
}

.faceclick {
    position: absolute;
    color: blue;
    font-size: 35px;
    margin-top: 10px;
    right: 10px;
    transition: color .5s;
    filter: blur(0px) !important;
}

.faceclick:hover {
    color: rgb(0, 0, 0);
}

.sla2:hover > :not(:hover) {
    filter: blur(5px);
}


::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, orange, red, cyan, blue);
    border-radius: 50px;
}

@media screen and (max-width: 640px) {
    body {
        overflow-y: auto;
    }

    header nav {
        font-size: 2.63vw;
    }

    .servidor {
        margin-right: 0px;
        padding: 7px 10px;
        width: max-content;
    }

    .myimg {
        margin-left: 0px;
        height: 40px;
    }
}

@media screen and (max-width: 540px) {
    .explicando {
        width: 400px;
    }

    .formasdecontatos {
        width: 400px;
    }

    .faceimg {
        width: 400px;
    }

    .instaimg {
        width: 400px;
    }

    .idiscord {
        width: 400px;
    }

    .faceclick {
        font-size: 30px;
    }

    .instaclick {
        font-size: 30px;
    }
}

@media screen and (max-width: 414px) {
    .explicando {
        width: 300px;
    }

    .formasdecontatos {
        width: 300px;
    }

    .faceimg {
        width: 300px;
    }

    .instaimg {
        width: 300px;
    }

    .idiscord {
        width: 300px;
    }

    .faceclick {
        font-size: 30px;
    }

    .instaclick {
        font-size: 30px;
    }
}

@media screen and (max-width: 315px) {
    body {
        overflow-y: auto;
    }

    .myimg {
        margin-left: 0px;
        margin-right: 10px;
        height: 40px;
    }
}

@media screen and (max-width: 291px) {
    header nav {
        display: none;
    }

    .myimg {
        margin-right: 63%;
    }
}

@media screen and (max-width: 268px) {
    .servidor {
        display: none;
    }

    .myimg {
        margin: auto;
    }
}

@media screen and (max-width: 280px) {
    .explicando {
        width: 250px;
    }

    .formasdecontatos {
        width: 250px;
    }

    .faceimg {
        width: 250px;
    }

    .instaimg {
        width: 250px;
    }

    .myimg {
        margin-right: 130px;
    }

    .discord {
        width: 250px;
    }

    .idiscord {
        width: 250px;
    }

    .faceclick {
        font-size: 30px;
    }

    .instaclick {
        font-size: 30px;
    }
}