* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-image: linear-gradient(45deg, #000000, #131313, #1d1d1d, #252525, #2d2d2d);
}

header {
    display: flex;
    background-color: #363636;
    padding: 18px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.556);
    transition: box-shadow .7s, border-radius .5s;
}

header:hover {
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.812);
    border-radius: 0 0 15px 15px;
}

.myimg {
    height: 55px;
    margin-left: 40px;
    border-radius: 50%;
}

header nav {
    display: inline-block;
    margin: auto;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    margin-right: 15px;
    color: #ffffff;
    transition: color .7s;
}

header nav a:hover {
    color: #dcdc7c;
}

header nav a:active {
    color: #000000;
}

.servidor {
    margin-right: 25px;
    padding: 7px 25px;
    border-radius: 10px;
    border: none;
    background-color: #595979;
    color: #ffffff;
    font-weight: 600;
    transition: border-radius .7s, background-color .7s, opacity .7s;
}

.servidor:hover {
    border-radius: 20px;
    background-color: #1b1b1b;
}

.servidor a {
    text-decoration: none;
    color: #ffffff;
}

.yurispan, .pdspan {
    position: absolute;
}

.yurispan > h1, .pdspan > h1{
    background-color: black;
    padding: 7px;
}

.yurispan h1, .pdspan > h1 {
    border-radius: 10px 0px 10px 0px;
}

.yuridiv, .pddiv {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    margin-top: 60px;
}

.yuridiv img, .pddiv img {
    border-radius: 13px;
}

.gityuri, .gitpd {
    position: absolute;
    color: black;
    font-size: 50px;
    bottom: 5px;
    transition: color .7s;
}

.gityuri:hover, .gitpd:hover {
    color: rgb(78, 78, 78);
}

.pdimg {
    height: 308px;
    width: 500px;
}

.centro {
    width: max-content;
    margin: auto;
}

@media screen and (max-width: 1024px)  {
    .yuridiv, .pddiv {
        display: block;
        margin-left: 0px;
    }
}

@media screen and (max-width: 912px)  {
    .yuridiv, .pddiv {
        display: block;
        margin-left: 0px;
    }
}

@media screen and (max-width: 820px)  {
    .yuridiv, .pddiv {
        display: block;
        margin-left: 0px;
    }
}

@media screen and (max-width: 712px) {
    .yuridiv, .pddiv {
        display: block;
        margin-left: 0px;
    }
}

@media screen and (max-width: 640px) {
    body {
        overflow-y: auto;
    }

    header nav {
        font-size: 2.63vw;
    }

    .servidor {
        margin-right: 0px;
        padding: 7px 10px;
        width: max-content;
    }

    .myimg {
        margin-left: 0px;
        height: 40px;
    }
}

@media screen and (max-width: 414px) {
    .yuridiv, .pddiv {
        display: block;
        margin-left: 0px;
    }

    .yurispan > h1, .pdspan > h1 {
        border-radius: 0px 0px 10px 0px;
    }

    .pddiv > img, .yuridiv > img {
        width: 414px;
        border-radius: 0px;
    }

    .centro {
        margin: 0px;
    }
}

@media screen and (max-width: 393px)  {
    .pddiv > img, .yuridiv > img {
        width: 393px;
        border-radius: 0px;
    }
}

@media screen and (max-width: 390px)  {
    .pddiv > img, .yuridiv > img {
        width: 390px;
        border-radius: 0px;
    }
}

@media screen and (max-width: 375px)  {
    .pddiv > img, .yuridiv > img {
        width: 375px;
        border-radius: 0px;
    }
}

@media screen and (max-width: 360px) {
    .pddiv > img, .yuridiv > img {
        width: 360px;
        border-radius: 0px;
    }
}

@media screen and (max-width: 315px) {
    body {
        overflow-y: auto;
    }

    .myimg {
        margin-left: 0px;
        margin-right: 10px;
        height: 40px;
    }
}

@media screen and (max-width: 291px) {
    header nav {
        display: none;
    }

    .myimg {
        margin-right: 63%;
    }
}

@media screen and (max-width: 280px) {
    .myimg {
        margin-right: 130px;
    }

    .pddiv > img, .yuridiv > img {
        width: 280px;
        border-radius: 0px;
    }
}

@media screen and (max-width: 268px) {
    .servidor {
        display: none;
    }

    .myimg {
        margin: auto;
    }
}