* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-image: linear-gradient(45deg, #000000, #131313, #1d1d1d, #252525, #2d2d2d);
}

header {
    display: flex;
    background-color: #363636;
    width: 100%;
    height: 91px;
    padding: 18px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.556);
    transition: box-shadow .7s, border-radius .5s;
}

header:hover {
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.812);
    border-radius: 0 0 15px 15px;
}

.myimg {
    height: 55px;
    margin-left: 40px;
    border-radius: 50%;
}

header nav {
    display: inline-block;
    margin: auto;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    margin-right: 15px;
    color: #ffffff;
    transition: color .7s;
}

header nav a:hover {
    color: #dcdc7c;
}

header nav a:active {
    color: #000000;
}

.servidor {
    margin-right: 25px;
    padding: 7px 25px;
    border-radius: 10px;
    border: none;
    background-color: #595979;
    color: #ffffff;
    font-weight: 600;
    transition: border-radius .7s, background-color .7s, opacity .7s;
}

.servidor:hover {
    border-radius: 20px;
    background-color: #1b1b1b;
}

.servidor a {
    text-decoration: none;
    color: #ffffff;
}

section {
    font-family: Arial, 'Inter', Helvetica, sans-serif;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    transition: border-radius .5s, box-shadow .7s;
}

article {
    text-align: center;
    padding: 10px;
}

article > p {
    font-weight: 600;
    font-style: italic;
}

.sobremim {
    margin-bottom: 50px;
}

.sobremim > p > a {
    color: white;
    background-image: linear-gradient(45deg, red, blue);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 0% 2px;
    text-decoration: none;
    padding-bottom: 1px;
    cursor: pointer;
    transition: background-size .5s;
}

.sobremim > p > a:hover {
    background-size: 100% 2px;
}

@media screen and (max-width: 640px) {
    body {
        overflow-y: auto;
    }

    header nav {
        font-size: 2.63vw;
    }

    .servidor {
        margin-right: 0px;
        padding: 7px 10px;
        width: max-content;
    }

    .myimg {
        margin-left: 0px;
        height: 40px;
    }
}



@media screen and (max-width: 414px) {
    body {
        overflow-y: auto;
    }

    main {
        width: max-content;
        margin: auto;
    }

    section {
        width: 300px;
        margin: auto;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 10px;
        background-color: transparent;
        box-shadow: none;
    }

    section h1 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    section:hover {
        box-shadow: none;
        border-radius: 0px;
    }
}

@media screen and (max-width: 315px) {
    body {
        overflow-y: auto;
    }
    
    .servidor {
        font-size: 8px;
    }

    .myimg {
        margin-left: 0px;
        margin-right: 10px;
        height: 40px;
    }
}

@media screen and (max-heigth: 500px) {
    body {
        overflow-y: auto;
        height: 150vh;
    }

    section {
        margin-bottom: 50px;
        background-color: transparent;
        box-shadow: none;
    }

    section:hover {
        box-shadow: none;
        border-radius: 0px;
    }
}

@media screen and (max-width: 291px) {
    header nav {
        display: none;
    }

    .myimg {
        margin-right: 63%;
    }
}

@media screen and (max-width: 268px) {
    .servidor {
        display: none;
    }

    .myimg {
        margin: auto;
    }
}